.editPage {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: rgba(17, 83, 109, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
}

.heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
}

.closeButton {
  position: absolute;
  top: 0rem;
  right: 10rem;
  user-select: none;
  font-size: 4rem;
}

.closeButton:hover {
  color: rgba(228, 34, 34, 0.652);
}

.removeContainer {
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-self: center;
  margin: auto;
  justify-content: center;
  align-items: center;
}
