.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 1.1rem;
  border-radius: 1.4rem;
  background: linear-gradient(
      var(--color-image-background),
      var(--color-image-background)
    ),
    url("../../public/MoneyManage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}

.HisabContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.givenTakenContainer {
  display: flex;
  justify-content: center;
  background-color: var(--color-container-background);
  width: 20%;
  align-self: center;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  margin-inline: auto;
  text-align: center;
}
